OtransBackend/.vs/OtransBackend/DesignTimeBuild/.dtbcache.v2
/OtransBackend/.vs/OtransBackend/DesignTimeBuild
/OtransBackend/.vs/OtransBackend
/OtransBackend/.vs
OtransBackend/.vs/OtransBackend/DesignTimeBuild/.dtbcache.v2
/OtransBackend/.vs/OtransBackend/DesignTimeBuild
OtransBackend/.vs/OtransBackend/DesignTimeBuild/.dtbcache.v2
/OtransBackend/.vs
/OtransBackend/OtransBackend/GoogleDrive
/OtransBackend/OtransBackend/obj
/OtransBackend/OtransBackend/bin
/OtransBackend/OtransBackend/obj
