# Build results
bin/
obj/
*.dll
*.exe
*.pdb

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Backup & cache
*.log
*.bak
*.tmp
*.cache
*.vscode
*.vspscc

# File system
Thumbs.db
ehthumbs.db
desktop.ini

# Others
*.dtbcache.v2
*.futdcache.v2
*.v9.bin
